<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="com.nook.app.share.ShareActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:taskAffinity=""
      android:theme="@style/NookShareTargetTheme">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>
</manifest>
